<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TP2 Exercice 3</title>
    </head>
    <style>
        img{
            width: 25px;
            height: 25px;
        }
    </style>
    <body>
        <div id="liste">
            <div>{{CurrentFruit}}</div>
            <ul>
                <li v-for="(item, index) in fruits" :key="item.text" v-on:click="changeCurrentFruit(item.text)">
                    <img src="close.png" alt="close_icon" v-on:click="removeFruit(index)">
                    <p v-if="fruitGras(item.text)"><b>{{ item.text }}</b></p>
                    <p v-else>{{ item.text }}</p>
                </li>
            </ul>
        </div>

        <script src="TP2 - Exercice 3.js"></script>
    </body>
</html>