<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP2 Exercice 5</title>
</head>
<style>
    #ajoutertache{
        text-align: center;
    }
</style>
<body>
    <div id="liste">
        <div id="ajoutertache">
            <h1>Ajouter une tâche</h1>
            <input
                @keyup.enter="addTask(this)"
                v-model="defaultTaskTitle"
                placeholder="Ajouter une tâche"
            >
        </div>
        <article v-for="(task, index) in tasks" :key="task.title">
            <div>
                {{task.title}}
            </div>
            <div>
                
            </div>
        </article>
    </div>

    <script>
        var vm = new Vue({
            el:"#liste",
            data :{
                defaultTaskTitle: "",
                tasks: []
            },
            methods : {
                addTask(parent) {
                    this.tasks.push({
                        title: this.defaultTaskTitle,
                        done: false,
                        defaultSubtaskTitle: "",
                        children: []
                    });
                    this.defaultTaskTitle = "";
                },
                recupIndex: function(event, selectedIndex) {
                    console.log(event, selectedIndex);
                    this.selectedIndex = selectedIndex;
                },
                modifier : function(modif,index){
                    Vue.set(this.cours,index,modif)
                }
            }
        })
    </script>
</body>
</html>